body{
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("/sources/top_bg_simple.png");
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
}

a.top-link{
    color: var(--theme-s-white);
}

article{
    width:100%;
}

footer{
    background-color: transparent;
}