body{
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("/sources/top_bg_simple.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer{
    display: none;
}

article{
    
}